# doc
/docs/*
/public/doc/*

# librairies externes
/library/*

# sitemap
/public/sitemap.xml

# blog
/public/blog/

# tests
/tests/

# uploads
/public/uploads

### Fichiers sensibles

# config prod
/application/configs/application.ini

# apache
.htgroups
.htpasswd

# google analytics
/public/google*.html

### Fichiers temporaires et fichiers système

# cache zend
/var

# cache moteur de recherche (?)
/application/modules/Core/data/*
public/CORE_PATHdata

# dechets windows / macos
Thumbs.db
*.DS_Store

# fichiers vim
*~
*.swp
*.swo

