.blog > h1 { font-size:17px; margin:0; padding:0; color:#9b9b9b; margin-bottom:20px; }
.blog h3 { color: #b52373; font-weight:normal; font-size: 15px; }

.blog .breadcrumb { font-size: 13px; margin: 0px 0 15px 0; color: #464646; }
.blog .breadcrumb { font-weight: normal; }

.blog .actu-wrapper time {
    width: 49px;
    height: 44px;
    display:block;
    background:url('../img/date-article.png') no-repeat;
    position:absolute;
    top:13px;
    left:-3px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 -1px 0 #791f4b;
    line-height:18px;
    padding-top:4px;
    padding-left:11px;
}
.blog .actu-wrapper time span { font-size: 12px; display:block; text-align:center; padding-right: 15px; }

.blog .actu-wrapper .title-wrapper { margin: 8px 0 10px 0; padding-left: 60px; }
.blog .actu-wrapper h1 { color: #00b1bd; font-size: 24px; margin: 0; }
.blog .actu-wrapper h2 { font-size: 12px; color: #666666; font-weight: normal; margin: 0; }
@media(max-width: 992px) {
    .blog .actu-wrapper h1 { font-size: 14px; }
}
.blog .actu-wrapper .actuContent { padding-top: 15px; }
.blog .actu-wrapper p.accroche { font-weight:bold; }
.blog .actu-wrapper .actuContent img { width: auto; height: auto; max-width: 100%; }
.blog .actu-wrapper p a { color:#b52373; }

.blog .comments { margin-bottom: 20px; }
.blog .comments ul { list-style: none; margin: 0; padding: 0; background: url(../img/separateur_general.jpg) bottom left repeat-x; }
.blog .comments ul li { background: url(../img/separateur_general.jpg) top left repeat-x; padding: 15px; font-size: 12px; color: #474747; }
.blog .comments ul li:nth-child(odd) { background: url(../img/separateur_general.jpg) top left repeat-x #f1f2f3; }
.blog .comments ul li p { margin: 0; }

.blog .write-comment { margin-bottom: 20px; background:url(../img/separateur_general.jpg) bottom left repeat-x; padding-bottom:2px; }
.blog .write-comment form { background: url(../img/separateur_general.jpg) top left repeat-x #f1f2f3; display: block; padding: 15px 0; }
.blog .write-comment form label { font-size: 12px; color: #474747; }
.blog .write-comment form input {
    background-color: #fff;
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.14);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.14);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14);
    border:0;
    width: 100%;
    height: 28px;
    font-size:12px;
    padding:0 5px;
    position:relative;
    behavior:url(compat/PIE-1/PIE.htc);
}
.blog .write-comment form textarea {
    width: 100%;
    height: 150px;
    background-color: #fff;
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.14);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.14);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.14);
    border: 0;
    resize: none;
    padding: 5px;
    font-size: 12px;
    position: relative;
    behavior:url(compat/PIE-1/PIE.htc);
}

.blog .actu-wrapper .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.blog .actu-wrapper  .alignleft { float: left; }
.blog .actu-wrapper .alignright { float: right; }
.blog .actu-wrapper .wp-caption {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f3f3f3;
    padding-top: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.blog .actu-wrapper .wp-caption .wp-caption-text { text-align: center; }
.blog .actu-wrapper .wp-caption img { margin: 0; padding: 0; border: 0 none; -webkit-user-drag: none; }

.blog .navigation { margin-bottom: 20px; font-size: 12px; }
.blog .navigation a, .blog .navigation a:hover { color: #00a1ab; text-decoration: none; }

/* Widgets */
.widget-area { margin-bottom: 15px; }
.widget-area ul { list-style: none; margin: 0; padding: 0; }
.widget-area > ul > li.widget { font-size: 13px; padding: 0px 15px 20px 15px; }
.widget-area h3 { color: #00a1ab; font-size: 13px; text-transform: uppercase; padding: 10px 0; border-bottom: 5px solid #b52373; text-align: left; }

.widget_search div { position: relative; top: 10px !important; }
.widget_search label { display: none; }
.widget_search input[type="text"] {
    font-size: 12px;
    outline: none;
    border: 1px solid #babec4;
    padding: 6px 12px;
    color: #a2a2a2;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
    position: relative;
    width: 100%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
.widget_search input[type="text"]:focus { border: 1px solid #05B0BA; color: black; }
.widget_search #searchsubmit {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    cursor: pointer;
    text-indent: -13337px;
    font-size: 0px;
    background: url("../img/search-btn.jpg") no-repeat center center;
    height: 12px;
    width: 12px;
    border: none;
}

.popular-posts a { color: #666666; font-weight: bold; }
.popular-posts a:hover { color: #00a1ab; }
.popular-posts .post-stats {
    display: block;
    clear: both;
    padding: 0;
    margin: 0;
    background: url("../img/comment.png") no-repeat left center!important;
    padding-left: 15px!important;
    color: rgb(158,158,158)!important;
}

.popular-posts .wpp-list li { margin: 10px 0; }

.widget_avh_extendedcategories_top { text-align: center; }
.widget_avh_extendedcategories_top ul { text-align: left; margin-bottom: 15px; }
.widget_avh_extendedcategories_top ul li { float: left; display: none; margin-right: 2px; }
.widget_avh_extendedcategories_top ul li a {
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    text-align: center;
    text-shadow: -1px 1px 1px rgba(0,0,0,0.3);
    background: #D0D0D0;
    border-radius: 2px;
    font-weight: bold;
    padding: 3px 7px 2px 7px;
    margin-bottom: 2px;
    display: inline-block;
}
.widget_avh_extendedcategories_top ul li a:hover { background: #00a1ab; }
.widget_avh_extendedcategories_top ul:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
.widget_avh_extendedcategories_top ul { display: inline-table; }
/* Hides from IE-mac \*/
.widget_avh_extendedcategories_top ul { height: 1%; }
.widget_avh_extendedcategories_top ul { display: block; }
/* End hide from IE-mac */
.widget_avh_extendedcategories_top a.more-link { margin-top: 10px; display: inline-block; }

.widget_archives_calendar .calendar-archives .cal-nav { background: #fff; }
.widget_archives_calendar .calendar-archives .cal-nav .prev-year.disabled:hover,
.widget_archives_calendar .calendar-archives .cal-nav .next-year.disabled:hover,
.widget_archives_calendar .calendar-archives .cal-nav .prev-year,
.widget_archives_calendar .calendar-archives .cal-nav .next-year,
.widget_archives_calendar .calendar-archives .cal-nav .year-nav a.year-title { color: #666; }
.widget_archives_calendar .calendar-archives .cal-nav .year-nav:hover,
.widget_archives_calendar .calendar-archives .cal-nav .prev-year:hover,
.widget_archives_calendar .calendar-archives .cal-nav .year-nav .arrow-down:hover,
.widget_archives_calendar .calendar-archives .cal-nav .next-year:hover,
.widget_archives_calendar .calendar-archives .cal-nav .year-nav a.year-title:hover { background: #00a1ab; color: #fff; }
.widget_archives_calendar .calendar-archives .cal-nav .year-nav:hover a,
.widget_archives_calendar .calendar-archives .cal-nav .year-nav:hover .arrow-down { color: #fff; }
.widget_archives_calendar .calendar-archives .cal-nav .year-nav .arrow-down { border-left: 0; color: #666; }
.widget_archives_calendar .calendar-archives .archives-years .year .month { background: #fff; }
.widget_archives_calendar .calendar-archives .archives-years .year .month.empty:hover { background: #f0f0f0; }
.widget_archives_calendar .calendar-archives .archives-years .year .month a { color: #666 !important; }
.widget_archives_calendar .calendar-archives .archives-years .year .month:hover,
.widget_archives_calendar .calendar-archives .archives-years .year .month > a:hover { background: #00a1ab; }
.widget_archives_calendar .calendar-archives .archives-years .year .month:hover > a { color: #fff !important; }
.widget_archives_calendar .calendar-archives .cal-nav .year-nav .year-select .year { color: #666; }
.widget_archives_calendar .calendar-archives .cal-nav .year-nav .year-select .year.selected { background: #b52373; }
.widget_archives_calendar .calendar-archives .cal-nav .year-nav .year-select .year:hover { background: #00a1ab; }