.concours > h3 { color: #a12c6d; font-size: 18px; font-weight: bold; text-shadow: 0 1px 0 #fff; margin:0 0 20px 0; padding:0; }
.concours .block .results {
    display: block;
    position: absolute;
    right: -4px;
    bottom: -18.5px;
    background: url('../img/concours-title2.png') no-repeat;
    width: 168px;
    height: 37px;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,143,154,.95);
    line-height: 33px;
    text-indent: 20px;
}

.concours .concours-description { margin-top: 20px; }
@media(min-width: 992px) {
    .concours:not(.concours-list) .concours-description::after {
        margin-bottom: 40px;
    }
}

.concours .concours-current h1 {
    display: block;
    height: 48px;
    margin: 0;
    padding: 0 30px 0 20px;
    line-height: 48px;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 16px;
    left: -2px;
    text-shadow: 0 -1px 0 #008892;
    text-align: center;
    background:url('../img/concours-title.png') no-repeat right center;
    font-weight: normal;
}

.concours .concours-description h2 {
    color: #7e7e7e;
    font-size: 13px;
    font-weight: bold;
    margin:0;
    padding:0;
}

.concours .concours-description h3 {
    color: #00b3be;
    font-size: 18px;
    font-weight: bold;
    margin:0;
    padding:0;
}

.concours .big_button {
    display:block;
    text-decoration: none;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #b1136d;
    -moz-box-shadow: 0 3px 0 #691743, inset 0 2px 0 #d64c9a;
    -webkit-box-shadow: 0 3px 0 #691743, inset 0 2px 0 #d64c9a;
    box-shadow: 0 3px 0 #691743, inset 0 2px 0 #d64c9a;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE3MiA0NiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTcyIiBoZWlnaHQ9IjQ2IiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%);
    background-image: linear-gradient(bottom, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%);
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0 -2px 0 #7d2955;
    text-transform:uppercase;
    line-height:48px;
    behavior:url(compat/PIE-1/PIE.htc);
}

.concours .concours-description .big_button { margin-top: 20px; }

.concours form label { color: #858585; font-size: 16px; }
.concours form input {
    width: 100%;
    outline: 0;
    height: 45px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #eaeaea;
    -moz-box-shadow: inset 0 2px 1px #d6d6d6;
    -webkit-box-shadow: inset 0 2px 1px #d6d6d6;
    box-shadow: inset 0 2px 1px #d6d6d6;
    border:0;
    display:block;
    margin-top:10px;
    color: #a12c6d;
    font-size: 18px;
    behavior:url(compat/PIE-1/PIE.htc);
}

.concours form input[type="submit"] {
    background: #0097a0;
    -webkit-text-shadow: 0px -1px 0px #00737a;
    -moz-text-shadow: 0px -1px 0px #00737a;
    -ms-text-shadow: 0px -1px 0px #00737a;
    -o-text-shadow: 0px -1px 0px #00737a;
    text-shadow: 0px -1px 0px #00737a;
    -webkit-box-shadow: inset 0px 1px 0px #2dc7d0, inset 0px -1px 0px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 1px 0px #2dc7d0, inset 0px -1px 0px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.25);
    -ms-box-shadow: inset 0px 1px 0px #2dc7d0, inset 0px -1px 0px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.25);
    -o-box-shadow: inset 0px 1px 0px #2dc7d0, inset 0px -1px 0px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.25);
    box-shadow: inset 0px 1px 0px #2dc7d0, inset 0px -1px 0px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.25);
    background-image: linear-gradient(bottom, rgb(0,139,149) 0%, rgb(0,160,168) 100%);
    background-image: -o-linear-gradient(bottom, rgb(0,139,149) 0%, rgb(0,160,168) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(0,139,149) 0%, rgb(0,160,168) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,139,149) 0%, rgb(0,160,168) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(0,139,149) 0%, rgb(0,160,168) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(0,139,149)), color-stop(1, rgb(0,160,168)));
}

.concours input.form-control:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.concours p.reglement {
    margin-top: 20px;
}
.concours p.reglement a {
    color: #999;
    font-size: 12px;
}

.concours form h2 {
    color: #858585;
    font-size: 16px;
    font-weight:normal;
}

.concours form p {
    color: #858585;
    font-size: 13px;
    margin-bottom:30px;
}

.concours p.confirm {
    color: #858585;
    font-size: 16px;
    text-align:center;
    margin:30px 0 30px 0;
}

.concours form p.no-questions {
    color: #a12c6d;
    font-size: 15px;
    font-weight: bold;
}

.concours form .alert { display: none; }