.coupsdecoeur > h1 {
	color: #00b1bd;
	font-size: 17px;
	margin-top:0;
	font-weight: bold;
	margin-bottom:0;
}

.coupsdecoeur section h1 {
	color: #b32674;
	font-size: 15px;
	font-weight:normal;
	margin-top:10px;
	padding-bottom:10px;
	margin-bottom:0;
	background:url(../img/separateur_general.jpg) bottom left repeat-x;
}

.coupsdecoeur div.social-links {
	margin-top:10px;
	margin-bottom:30px;
}

.coupsdecoeur ul {
	padding:0;
	list-style:none;
}

.coupsdecoeur ul li {
	position:relative;
	text-align: center;
}
.coupsdecoeur ul li a { display: inline-block; position: relative;}

.coupsdecoeur ul li img.cover {
    width: 100%;
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.15);
	-o-box-shadow: 0 5px 5px rgba(0,0,0,.15);
	-ms-box-shadow: 0 5px 5px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.15);
	box-shadow: 0 5px 5px rgba(0,0,0,.15);
	behavior:url(compat/PIE-1/PIE.htc);
}

.coupsdecoeur ul li img.ruban {
	position:absolute;
	top:0;
	left:5px;
}

.coupsdecoeur section.equipe h2 {
	margin:0;
	padding:0;
	color: #797979;
	font-size: 13px;
	font-weight:normal;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:0;
}

.coupsdecoeur .cdc_wrapper { background: #f1f2f3 url(/img/separateur_general.jpg) bottom left repeat-x; margin: 0; padding: 10px 20px; margin-bottom: 20px; }
.coupsdecoeur .equipe .cdc_wrapper .row > div:nth-child(2n+1) { clear:left }
.coupsdecoeur section.equipe ul li { position:relative; }
.coupsdecoeur section.equipe ul li img.coeur { position:absolute; top:-2px; right:-2px; }