.form input, .form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
}
.form .field-text {
    margin: 0;
    padding: 0;
    padding: 6px 12px;
}
.form .field-textarea {
    padding: 6px 12px;
}
.form .field-submit { width: 100%; }
.form .field-text, .form .field-select, .form .field-textarea {
    background: white;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(#eaeaea, #ffffff);
    background: -moz-linear-gradient(#eaeaea, #ffffff);
    background: -o-linear-gradient(#eaeaea, #ffffff);
    background: linear-gradient(#eaeaea, #ffffff);
    width: 100%;
    font-size: 12px;
    border: 1px solid #babec4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form .field-submit.btn { padding: 2px 10px; }

.form .field-text, .form .field-textarea {
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.form .field-error {
    list-style: none;
    font-size: 0.875em;
    line-height: 1.6em;
    padding: 5px 0 0;
    color: #A22C6D;
    margin: 0 0 10px 0
}

.form-contact .field-select {
    width: 100%;
    height: 30px;
}
.form-contact .field-textarea {
    width: 100%;
    height: 150px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}