div.galerieWrapper {
	position: relative;
	width: 940px;
}
div.galerieWrapper  > h1 {
	font-size:24px;
	line-height: 24px;
	margin:0;
	padding:0;
	color:#9b9b9b;
	margin-bottom:20px;
	padding-bottom: 15px;
	
	text-shadow: 0px 1px 0px #fff;
	
	box-shadow: 0px 1px 0px #fff, inset 0px -1px 0px #dfdfdf;
}
div.galerieWrapper h1 a {
	color: #a22c6d;
}

.galerieSlider {
	position: relative;
	left: -20px;
	width: 980px;
	height: 650px;
	
	overflow: hidden;
	
	outline: 0px dotted red;
}
.preview {
	height: 950px;
}
.galerieSlider ul {
	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 100000px;
	
	outline: 0px dotted blue;
	
	margin: 0px;
	padding: 0px;
}
.galerieSlider ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	
	width: 980px;
	float: left;
	
	text-align: center;
	line-height: 650px;
	
	outline: 0px dotted red;
}
.preview ul li {
	line-height: 900px;
}
.galerieSlider ul li img {
	width: auto;
	height: auto;
	max-height: 600px;
	max-width: 900px;

	border: 10px solid #fff;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
}
.preview ul li img {
	max-height: 900px;
}
.galerieWrapper .prev {
	position: absolute;
	left: -25px;
	top: 40px;
	
	width: 200px;
	height: 650px;
	background: url(../img/galerie_slider_btn_prev.png) no-repeat -155px center;
	
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.galerieWrapper .prev:hover {
	width: 195px;
	background-position-x: -5px;
}
.galerieWrapper .next {
	position: absolute;
	right: -25px;
	top: 40px;
	
	width: 200px;
	height: 650px;
	background: url(../img/galerie_slider_btn_next.png) no-repeat 155px center;
	
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.galerieWrapper .next:hover {
	width: 195px;
	background-position-x: 0px;
}


.sliderPagination {
	text-align: center;
}
.sliderPagination a {
	display: inline-block;
	
	width: 10px;
	height: 10px;
	margin: 5px 3px;
	
	background: #dedede;
	
	border-radius: 1000px;
	
	outline: 0px;
	
	box-shadow: inset 0px 2px 3px #b8b8b8, 0px 1px 0px #fff;
	
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sliderPagination a.active {
	background: #a22c6d;
	
	box-shadow: inset 0px 1px 0px #c82d83, inset 0px -1px 0px #6b0d41, 0px 1px 0px #fff;
}









