section.interview-wrapper {
	width: 620px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.15);
	box-shadow: 0 5px 5px rgba(0,0,0,.15);
	padding-bottom:15px;
	position:relative;
	
	color: #313131;
	font-size: 13px;
	
	behavior:url(compat/PIE-1/PIE.htc);
}

section.interview-wrapper figure {
	position:relative;
	width:620px;
	height:270px;
	overflow: hidden;
	margin-bottom: 15px;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

section.interview-wrapper figure img.illus {
	position:absolute;
	top:0;
	left:0;
}

section.interview-wrapper figure img.masque {
	position:absolute;
	bottom:0;
	left:0;
}

section.interview-wrapper hgroup {
	margin-left:25px;
	margin-right:25px;
	margin-bottom:15px;
}

section.interview-wrapper hgroup h1 {
	color: #a12c6d;
	font-size: 24px;
	font-weight: bold;
	margin:0;
	padding:0;
}

section.interview-wrapper hgroup h2 {
	color: #313131;
	font-size: 16px;
	font-weight: normal;
	margin:0;
	padding:0;
}

section.interview-wrapper #texte {
	margin: 0px 25px;
}

section.interview-wrapper p  {
	color: #313131;
	font-size: 13px;
	margin:0px;
	margin-bottom:15px;
	text-align: justify;
}

section.interview-wrapper #texte div {
	text-align: inherit;
}

section.interview-wrapper iframe {
	width: 570px;
}

section.interview-wrapper table {
	width: 580px;
}

section.interview-wrapper h3 {
	color:#17858c;
	font-size: 13px;
	margin:0px;
	text-align:justify;
	margin-bottom:15px;
}

section.interview-wrapper p img, section.interview-wrapper img {
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.2);
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
	position:relative;
	behavior:url(compat/PIE-1/PIE.htc);
}
section.interview-wrapper p img.illus-left {
	float:left;
	margin-top:15px;
	margin-right:25px;
	margin-bottom:15px;
}
section.interview-wrapper img.illus-left {
	float:left;
	margin:15px 25px;
}

section.interview-wrapper p img.illus-right {
	float:right;
	margin-top:15px;
	margin-left:25px;
	margin-bottom:15px;
}
section.interview-wrapper img.illus-right {
	float:right;
	margin:15px 25px;
}

section.interview-wrapper p img.illus-center {
	/* Image centrée en JS
	*  avec un text-align:center sur son parent
	*/
	margin:15px 0;
}

section.interview-wrapper div.social-links {
	margin-left:25px;
	margin-top:30px;
}

section.interview-wrapper div.social-links iframe {
	margin-top:-3px;
}

section.interview-wrapper div.social-links iframe.twitter-share-button {
	width:95px !important;
	margin-left:15px;
}