header.header-mauve {
	background:url(../img/bandeau-mauve.jpg) repeat-x;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:10;
	
	-webkit-border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	-ms-border-radius: 15px 15px 0px 0px;
	-o-border-radius: 15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px;
	
	behavior:url(compat/PIE-1/PIE.htc);
}

header.header-mauve input[type=text] {
	width: 190px;
	line-height: 13px;
	padding: 6px 10px 4px 30px;
	margin: 15px 15px 15px 20px;
	
	font-size: 12px;
	color: #fff;
	outline:none;
	
	float:left;
	
	background: #89255b url(../img/header_icon_search_mauve.png) no-repeat 10px center; /* pour IE */
	background: rgba(0,0,0,0.15) url(../img/header_icon_search_mauve.png) no-repeat 10px center;
	border: 0px;
	
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	
	box-shadow: 0px 1px 0px rgba(255,255,255,0.2), inset 0px 1px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.2), inset 0px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.2), inset 0px 1px 0px rgba(0,0,0,0.2);
	-ms-box-shadow: 0px 1px 0px rgba(255,255,255,0.2), inset 0px 1px 0px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 1px 0px rgba(255,255,255,0.2), inset 0px 1px 0px rgba(0,0,0,0.2);
	
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	
	behavior:url(compat/PIE-1/PIE.htc);
}

header.header-mauve input[type=text]::-webkit-input-placeholder {
	color: #d46aa7;
}
header.header-mauve input[type=text]:-moz-placeholder {
	color: #d46aa7;
}
header.header-mauve input[type=text]:focus {
	outline: 0px;
	background-color: #741f4d; /* pour IE */
	background-color: rgba(0,0,0,0.3);
}

header.header-mauve input[type=submit] {
	width:85px;
	height:23px;
	margin-top:15px;
	margin-left:15px;
	float:left;
	font-size: 12px;
	color: #992863;
	text-decoration: none;
	border:0;
	background-color: #d9d9d9;
	background-image: linear-gradient(bottom, rgb(232,232,232) 100%, rgb(198,198,198) 0%);
	background-image: -o-linear-gradient(bottom, rgb(232,232,232) 100%, rgb(198,198,198) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 100%, rgb(198,198,198) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 100%, rgb(198,198,198) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 100%, rgb(198,198,198) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(232,232,232)),
		color-stop(0, rgb(198,198,198))
	);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #9f9f9f, 0px 3px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #9f9f9f, 0px 3px 3px rgba(0,0,0,0.25);
	-ms-box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #9f9f9f, 0px 3px 3px rgba(0,0,0,0.25);
	-o-box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #9f9f9f, 0px 3px 3px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #9f9f9f, 0px 3px 3px rgba(0,0,0,0.25);
	
	behavior:url(compat/PIE-1/PIE.htc);
}

header.header-mauve p {
	color:#e183b7;
	float:left;
	margin:0 20px;
	line-height:50px;
}

header.header-mauve div.menu {
	margin-top:16px;
	cursor:pointer;
	position:relative;
	z-index:50;
	
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	width:auto;
	height:23px;
	display:block;
	float:left;
	
	background-image: linear-gradient(top, rgb(146,46,102) 0%, rgb(132,34,86) 100%);
	background-image: -o-linear-gradient(top, rgb(146,46,102) 0%, rgb(132,34,86) 100%);
	background-image: -moz-linear-gradient(top, rgb(146,46,102) 0%, rgb(132,34,86) 100%);
	background-image: -webkit-linear-gradient(top, rgb(146,46,102) 0%, rgb(132,34,86) 100%);
	background-image: -ms-linear-gradient(top, rgb(146,46,102) 0%, rgb(132,34,86) 100%);
	background-color:#8e2860;
	-moz-box-shadow: 0px 5px 4px 0px #73204e, inset 0px 1px 0px #b35c8a, inset 0px -2px 0px #73204e;
	-webkit-box-shadow: 0px 5px 4px 0px #73204e, inset 0px 1px 0px #b35c8a, inset 0px -2px 0px #73204e;
	-o-box-shadow: 0px 5px 4px 0px #73204e, inset 0px 1px 0px #b35c8a, inset 0px -2px 0px #73204e;
	box-shadow: 0px 5px 4px 0px #73204e, inset 0px 1px 0px #b35c8a, inset 0px -2px 0px #73204e;
	
	behavior:url(compat/PIE-1/PIE.htc);
}

/*header.header-mauve div.menu {
	margin-top:16px;
	cursor:pointer;
	position:relative;
	z-index:50;
	
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	width:auto;
	height:23px;
	display:block;
	float:left;
	
	overflow-y:hidden;
	overflow-x: hidden;
	max-height: 400px;
	
	background-image: linear-gradient(top, rgb(146,46,102) 0%, rgb(132,34,86) 100%);
	background-image: -o-linear-gradient(top, rgb(146,46,102) 0%, rgb(132,34,86) 100%);
	background-image: -moz-linear-gradient(top, rgb(146,46,102) 0%, rgb(132,34,86) 100%);
	background-image: -webkit-linear-gradient(top, rgb(146,46,102) 0%, rgb(132,34,86) 100%);
	background-image: -ms-linear-gradient(top, rgb(146,46,102) 0%, rgb(132,34,86) 100%);
	background-color:#8e2860;
	-moz-box-shadow: 0.5px 0.5px 5px 0px #343434;
	-webkit-box-shadow: 0.5px 0.5px 5px 0px #343434;
	-o-box-shadow: 0.5px 0.5px 5px 0px #343434;
	box-shadow: 0.5px 0.5px 5px 0px #343434;
	
	behavior:url(compat/PIE-1/PIE.htc);
}*/

header.header-mauve div.menu a {
	text-indent:35px;
	display:block;
	margin-right:20px;
	height:23px;
	line-height:23px;
	color:white;
	text-transform:none;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	background-image:url(../img/menu-deroulant-arrow.png);
	background-repeat:no-repeat;
	background-position:10px 1px;
	filter:none;
	outline:none;
}

header.header-mauve div.menu ul {
	display: none;

	list-style:none;
	padding:0;
	margin:0;
	position:relative;
	z-index:50000 !important;
	
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	
	-moz-box-shadow: 0px 3px 5px 0px #343434;
	-webkit-box-shadow: 0px 3px 5px 0px #343434;
	-o-box-shadow: 0px 3px 5px 0px #343434;
	box-shadow: 0px 3px 5px 0px #343434;
	
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-ms-border-radius: 0px 0px 3px 3px;
	-o-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
}
header.header-mauve div.menu:hover ul {
	display: block;
}
header.header-mauve div.menu:hover {
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-ms-border-radius: 3px 3px 0px 0px;
	-o-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

header.header-mauve div.menu ul li {
	border-top:1px solid #a33d77;
	line-height:25px;
	text-transform:none;
	font-weight:normal;
	font-size:12px;
	padding-right:10px;
	padding-left:10px;
	background-color:#8e2860;
}

header.header-mauve div.menu ul li:hover {
	background-color:#ab3076;
}

div.leftRecherche {
	width:620px;
	float:left;
	margin:0;
	margin-top:50px;
	margin-right:15px;
}

div.leftRecherche header {
	font-size:11px;
	color:#787878;
	margin-bottom:33px;
}

div.leftRecherche header p.left {
	float:left;
	margin-top:13px;
}

div.leftRecherche header p.right {
	float:right;
}

div.leftRecherche div.item {
	width:596px;
	padding:12px;
	background:url(../img/separateur_general.jpg) top left repeat-x;
	position:relative;
}



div.leftRecherche div.item a.masque {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
}

div.leftRecherche div.item:nth-child(odd) {
	background:url(../img/separateur_general.jpg) top left repeat-x #eeeff0;
}

div.leftRecherche div.item hgroup,div.leftRecherche div.item hgroup h1,div.leftRecherche div.item hgroup h2 {
	margin:0;
}

div.leftRecherche div.item img.cover {
	width:100px;
	float:left;
	margin-right:15px;
	
	-moz-box-shadow: 1px 1px 10px 0px #c0c0c0;
	-webkit-box-shadow: 1px 1px 10px 0px #c0c0c0;
	-o-box-shadow: 1px 1px 10px 0px #c0c0c0;
	box-shadow: 1px 1px 10px 0px #c0c0c0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=10);
}

div.leftRecherche div.item .search-content {
	float: left;
	width: 475px;
}

div.leftRecherche div.item hgroup h1 {
	font-size:15px;
	color:#982861;
	text-transform:uppercase;
	
	text-shadow: 0px 1px 0px #fff;
	-webkit-text-shadow: 0px 1px 0px #fff;
	-moz-text-shadow: 0px 1px 0px #fff;
	-ms-text-shadow: 0px 1px 0px #fff;
	-o-text-shadow: 0px 1px 0px #fff;
}

div.leftRecherche div.item hgroup h2 {
	font-size:20px;
	color:#00b3be;
	text-transform:none;
	
	text-shadow: 0px 1px 0px #fff;
	-webkit-text-shadow: 0px 1px 0px #fff;
	-moz-text-shadow: 0px 1px 0px #fff;
	-ms-text-shadow: 0px 1px 0px #fff;
	-o-text-shadow: 0px 1px 0px #fff;
}

div.leftRecherche div.item p {
	font-size:12px;
	color:#787878;
}

div.leftRecherche div.pagination {
	margin:20px auto 80px auto;
	text-align: center;
}

div.leftRecherche div.pagination a {
	background:url(../img/sprite-pagination.png) no-repeat;
	width:28px;
	height:28px;
	display:inline-block;
	margin-right:5px;
	text-decoration:none;
	color:#a0a0a0;
	font-size:16px;
	line-height:28px;
	text-align:center;
	font-weight:bold;
	text-shadow: 0px 1px 0px #fff;
	-webkit-text-shadow: 0px 1px 0px #fff;
	-moz-text-shadow: 0px 1px 0px #fff;
	-ms-text-shadow: 0px 1px 0px #fff;
	-o-text-shadow: 0px 1px 0px #fff;
}

div.leftRecherche div.pagination a.prev, div.leftRecherche div.pagination a.next {
	text-indent:-8000px;
}

div.leftRecherche div.pagination a.prev {
	background-position:0 0;
}

div.leftRecherche div.pagination a.prev:hover {
	background-position:0 -28px;
}


div.leftRecherche div.pagination a.next {
	background-position:-87px 0;
}

div.leftRecherche div.pagination a.next:hover {
	background-position:-58px -28px;
}

div.leftRecherche div.pagination a.page {
	background-position:-29px 0;
}

div.leftRecherche div.pagination a.page:hover {
	background-position:-29px -28px;
}

div.leftRecherche div.pagination a.page.active {
	background-position:-58px 0;
	color:white;
	text-shadow: 0px 1px 0px #383838;
	-webkit-text-shadow: 0px 1px 0px #383838;
	-moz-text-shadow: 0px 1px 0px #383838;
	-ms-text-shadow: 0px 1px 0px #383838;
	-o-text-shadow: 0px 1px 0px #383838;
}

div.rightRecherche {
	width:300px;
	float:left;
	position:relative;
	margin-top:50px;
}

section.mon-compte {
	width:300px;
	min-height:185px;
	background:#00b2bd;
	margin-bottom:20px;
	margin-top:0px;
	position:relative;
	
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	-ms-box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	-o-box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	behavior:url(compat/PIE-1/PIE.htc);
}

section.mon-compte h1 {
	width:300px;
	height:35px;
	background:url(../img/separateur-blue.jpg) repeat-x bottom left;
	font-size:14px;
	color:white;
	position:relative;
	line-height:35px;
	text-indent:40px;
	margin-bottom:0;
}

section.mon-compte h1 img {
	position:absolute;
	top:10px;
	left:15px;
}

section.mon-compte ul {
	margin: 0 0 10px 0;
	padding:0;
	list-style:none;
}

section.mon-compte ul li {
	width:300px;
	height:35px;
	background:url(../img/separateur-blue.jpg) repeat-x bottom left;
	line-height:35px;
	text-indent:15px;
	color:white;
	font-size:12px;
}

section.mon-compte ul li:nth-child(odd) {
	background:url(../img/separateur-blue.jpg) repeat-x bottom left #19bac4;
}

section.mon-compte a {
	width:180px;
	height:23px;
	
	margin-left: 60px;
	position:relative;

	padding: 4px 18px;
	
	font-size: 12px;
	color: #992863;
	text-decoration: none;
	border:0;
	
	line-height:23px;
	text-align:center;
	
	background-color: #d9d9d9;
	background-image: linear-gradient(bottom, rgb(232,232,232) 100%, rgb(198,198,198) 0%);
	background-image: -o-linear-gradient(bottom, rgb(232,232,232) 100%, rgb(198,198,198) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 100%, rgb(198,198,198) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 100%, rgb(198,198,198) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 100%, rgb(198,198,198) 0%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(232,232,232)),
		color-stop(0, rgb(198,198,198))
	);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #9f9f9f, 0px 3px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #9f9f9f, 0px 3px 3px rgba(0,0,0,0.25);
	-ms-box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #9f9f9f, 0px 3px 3px rgba(0,0,0,0.25);
	-o-box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #9f9f9f, 0px 3px 3px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px #ffffff, 0px 2px 0px #9f9f9f, 0px 3px 3px rgba(0,0,0,0.25);
	
	behavior:url(compat/PIE-1/PIE.htc);
}

section.mon-compte ul li span {
	display:block;
	width:72px;
	height:27px;
	background:url(../img/compteur-bg-blue.jpg) no-repeat;
	float:right;
	margin-right:10px;
	margin-top:4px;
	color:#3a3939;
	font-weight:bold;
	font-size:15px;
	letter-spacing:8px;
	padding:0;
	text-align:left;
	text-indent:7px;
	line-height:27px;
}
@-moz-document url-prefix()
{
    section.mon-compte ul li span {
		font-size:12px;
    }
}

section.concours {
	width:300px;
	height:280px;
	overflow:hidden;
	margin-bottom:20px;
	background:#a22c6d;
	position:relative;
	
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	-ms-box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	-o-box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	behavior:url(compat/PIE-1/PIE.htc);
}

section.concours header {
	width:300px;
	height:33px;
	position:relative;
}

section.concours header h1 {
	font-size:16px;
	font-weight:bold;
	color:white;
	float:left;
	margin:0;
	line-height:33px;
	margin-left:15px;
}

section.concours header a {
	display:block;
	float:right;
	font-size:12px;
	color:#dd7fb3;
	text-decoration:none;
	line-height:33px;
	margin-right:15px;
}

section.concours header a:hover {
	color:white;
}

section.concours figure {
	position:relative;
}

section.concours figure img.masque {
	position:absolute;
	bottom:0;
	left:0;
}

section.concours h2 {
	font-size:14px;
	font-weight:bold;
	color:white;
	margin:5px 0 0 15px;
}

section.concours a.more {
	padding: 0px 10px;
	display:block;
	width:75px;
	float:right;
	margin-right:10px;
	margin-top:7px;
	position:relative;
	
	background: #0097a0;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 26px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-text-shadow: 0px -1px 0px #00737a;
	-moz-text-shadow: 0px -1px 0px #00737a;
	-ms-text-shadow: 0px -1px 0px #00737a;
	-o-text-shadow: 0px -1px 0px #00737a;
	text-shadow: 0px -1px 0px #00737a;
	
	-webkit-box-shadow: inset 0px 1px 0px #2dc7d0, inset 0px -1px 0px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 1px 0px #2dc7d0, inset 0px -1px 0px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.25);
	-ms-box-shadow: inset 0px 1px 0px #2dc7d0, inset 0px -1px 0px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.25);
	-o-box-shadow: inset 0px 1px 0px #2dc7d0, inset 0px -1px 0px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px #2dc7d0, inset 0px -1px 0px rgba(0,0,0,0.2), 0px 2px 2px rgba(0,0,0,0.25);
	
	background-image: linear-gradient(bottom, rgb(0,139,149) 0%, rgb(0,160,168) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,139,149) 0%, rgb(0,160,168) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,139,149) 0%, rgb(0,160,168) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,139,149) 0%, rgb(0,160,168) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,139,149) 0%, rgb(0,160,168) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(0,139,149)),
		color-stop(1, rgb(0,160,168))
	);
	
	behavior:url(compat/PIE-1/PIE.htc);
}