body {
	background: #000;
}
#content-container {
	padding-top: 300px;
	background: #000 no-repeat center 110px url(http://pubs.ecranfantastique.com/www/delivery/avw.php?zoneid=96&amp;n=a484b5f5E);
}
#content-container #content {
	background: url(../../img/bg_grey.png);
	margin-top: 100px;
}
#pub {
	display: none;
	height: 1px;
}